<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="./images/icon.png" type="image" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/sweetalert2.min.css" />

    <title>Dashboard Management</title>
  </head>

  <body>
    <main>
      <div class="row mx-0 d-flex">
        <!-- Side Menu -->
        <%- include('../menubar/menu.ejs') %>
        <!-- End Side Menu -->
        <div class="col-md-12 rigth-wrap px-0">
          <!-- Navbar -->
          <%- include('../menubar/navbar.ejs') %>
          <!-- End Navbar -->
          <div class="row d-flex">
            <div class="col-md-2"><%- include('../menubar/sidebar.ejs') %></div>
            <!-- Main Body -->
            <div class="col-md-10">
              <div class="main">
                <div class="breadcrumb d-flex align-items-center gap-2">
                  <span class="fs-12 fw-bold"> Cars </span>
                  <img src="/images/Vector_right.png" alt="" />
                  <% if (url=="/" ) { %>
                  <span class="active fs-12 fw-bold">List Car</span>
                  <% var isTitle=true %> 
                  <% } else { %>
                  <span class="fs-12"
                    ><a href="/" class="text-decoration-none text-black"
                      >List Car</a
                    >
                  </span>
                  <img src="/images/Vector_right.png" alt="" />
                  <span class="active fs-12"> <%= title%> </span>
                  <% } %>
                </div>
                <!-- Main Content -->
                <%- body %>
              </div>
            </div>
            <!-- End Main Body -->
          </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/sweetalert2.min.js"></script>
  </body>
</html>
