<div class="row align-items-center mt-3">
  <div class="col-md-6">
    <h1 class="main-title fs-20 m-0 fw-bold">List Car</h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end">
    <a class="btn btn-primary text-white fs-14 fw-bold" href="/cars/create">
      <img class="me-2" src="/images/fi_plus.png" alt="plus" />
      Add New Car
    </a>
  </div>
</div>
<div class="row">
  <div class="filter d-flex gap-3 my-4">
    <button class="btn btn-outline-primary active">All</button>
    <button class="btn btn-outline-secondary">Small</button>
    <button class="btn btn-outline-secondary">Medium</button>
    <button class="btn btn-outline-secondary">Large</button>
  </div>
</div>
<div class="cars-container">
  <div class="row">
    <!-- Card -->
    <% for (let data of ListCars){%> <% var date=new Date(data.updatedAt) %>
    <div class="col-md-4 mt-4">
      <div class="card">
        <img src="<%= data.image%>" class="card-img" alt="Car Image" />
        <div class="card-body p-0">
          <h5 class="card-title mt-3 mb-1 fs-14">
            <%= data.name%> / <%= data.type%>
          </h5>
          <p class="card-harga mb-1 fs-16 fw-bold">
            Rp <%= data.rentPrice/1000 %>.000 / hari
          </p>
          <div class="card-info mt-3">
            <div class="info">
              <p class="clock d-flex fs-14">
                <img class="me-2" src="/images/fi_clock.png" alt="clock icon" />
                <span class="ml-2"
                  >Updated at <%= date.getDate() %> <%= date.toLocaleString(
                  undefined, { month:'short', year:'numeric' } ) %>, <%=
                  date.toLocaleTimeString(undefined, {hour12: true, hour:
                  '2-digit' , minute:'2-digit'}) %></span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <button
            style="width: 100%"
            class="delete_btn font-weight-bold btn btn-outline-danger d-flex align-items-center justify-content-center"
            onclick="confirm('<%= data.id%>')"
          >
            <img class="me-2" src="/images/fi_trash-2.png" alt="" />
            Delete
          </button>
          </div>
          <div class="col-md-6">
            <button
              style="width: 100%;"
              class="
                edit_btn
                font-weight-bold
                btn btn-success btn-outline-success
                d-flex
                align-items-center
                justify-content-center
                text-white
                me-0
              "
              onclick="location.href='/cars/update/<%= data.id%>'"
            >
              <img class="me-2" src="/images/fi_edit.png" alt="" />
              Edit</button
            >
          </div>
        </div>
      </div>
    </div>
    <script>
      
      function confirm(id) {
        Swal.fire({
          imageUrl: "https://i.ibb.co/Pgnk3J2/img-Beep-Beep.png",
          imageAlt: 'Custom image',
          imageWidth: 180,
          imageHeight: 150,
          title: "Menghapus Data Mobil",
          text: "Setelah di hapus,data mobil tidak dapat dikembalikan.Yakin ingin menghapus?",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          cancelButtonText: "Tidak",
          confirmButtonText: "Ya",
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire("Terhapus!", "Data Mobil Terhapus!.", "success");
            setTimeout(function () {
              window.location.href = "/cars/delete/"+id;
            }, 1000);
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            Swal.fire("Batal Menghapus", "Data Mobil Tidak Dihapus", "error");
          }
        });
      }
    </script>
    <%}%>
  </div>
</div>
